body {
  font-family: 'Helvetica', serif;
  color: #008000;
}

form {
  max-width: 600px;
  margin: 100px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}

h1 {
  margin: auto;
  text-align: center;
}

button {
  padding: auto;
  color: #F8F8FF;
  background-color: #ADFF2F;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #F0FFF0;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}

fieldset {
	
	background: #FFFAF0;
}